.container{
    max-width: 1340px;
    margin:0px auto;
    min-height: 100vh;
   
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    
}

.container .card{
    width: 32%;
    border: 2px solid rgb(10, 10, 10); 
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
}

.container .card img{
    margin-top: 50px;
    width: 80%;
    height: 300px;
    object-fit: cover;
    margin-left: 10px;

}
.content h4{
    margin-left: 10px; 
}.content p{
    margin-left: 10px; 
}

.content{

  width: 100%;
}

