body {
    margin-top: 39px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.container {
    
    max-width: 1200px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h1 {
    margin-bottom: 20px;
    text-align: center;
}

#products {
    padding-top: 300rem;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    max-width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100%;
    height: auto;
}

.product-info {
    padding: 10px;
}

.product-info h2 {
    font-size: 18px;
    margin: 0 0 10px;
}

.product-info p {
    margin: 5px 0;
    color: #555;
}

.product-info .price {
    font-weight: bold;
}
